<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="btl_hsk" connectionString="Data Source=LAPTOP-75EMN83J\SQLEXPRESS;Initial Catalog=btl_hsk;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BTL_HSK.Properties.Settings.btl_hskConnectionString" connectionString="Data Source=LAPTOP-75EMN83J\SQLEXPRESS;Initial Catalog=btl_hsk;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
