<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="con" connectionString="Data Source=MSI-TRUONG\SQLEXPRESS;Initial Catalog=btl_hsk;Integrated Security=True" />
  <add name="BTLHSK.Properties.Settings.btl_hskConnectionString"
   connectionString="Data Source=MSI-TRUONG\SQLEXPRESS;Initial Catalog=btl_hsk;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>