<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="HSK223" connectionString="Data Source=laptop-75emn83j\sqlexpress;Initial Catalog=HSK223;Integrated Security=True" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>